
body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
}
.services {
    padding-bottom: 30px;
}

section {
    padding: 20px 0px 0 20px;
}

*, ::after, ::before {
    box-sizing: border-box;
}

section {
    display: block;
    
}

.container-fluid{
    
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        width: 100%;
        padding-right: 20px;
        padding-left: 20px;
        margin-right: auto;
        margin-left: auto;
    
}

.section-title {
    text-align: center;
    padding-bottom: 50px;
}

.section-title h2 {
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
    padding: 8px 20px;
    margin: 0px;
    background: rgb(245, 249, 252);
    color: rgb(66, 139, 202);
    display: inline-block;
    text-transform: uppercase;
    border-radius: 50px;
    font-family: Raleway, sans-serif;
    line-height: 1.2;
}

.section-title h3 {
    margin: 15px 0px 0px;
    font-size: 32px;
    font-weight: 700;
    font-family: Raleway, sans-serif;
    line-height: 1.2;
}

.section-title h3 span {
    color: rgb(66, 139, 202);
}

.section-title p {
    margin: 15px auto 0 auto;
    font-weight: 500;
    line-height: 25px;
    color: #919191;
}

.justify-content-center {
    justify-content: center !important;
}
.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: var(--bs-gutter-y);
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: 50px;
    margin-left: 50px;
}
/* .icon-box {
    float: left;
    width: 380px;
    justify-content: center;
    margin-right:40px;
  } */
  .row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}
  /* @media (min-width: 768px)
  {
  .icon-media {
      flex: 0 0 auto;
      width: 33%;
  }
} */

@media (min-width: 768px)
{
    .icon-media {
        flex: 0 0 auto;
        width: 33.33%;
    }
}

@media only screen and (max-width: 912px){
    .icon-media {
        flex: 0 0 auto;
        width: 50%;
    }
}

@media only screen and (max-width: 600px){
    .icon-media {
        flex: 0 0 auto;
        width: 100%;
    }
}
  
  /* Clear floats after the columns */
  /* .row:after {
    content: "";
    display: table;
    clear: both;
  } */
/* .row > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-top: var(--bs-gutter-y);
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
} */

.services .icon-box {
    margin-bottom: 60px;
}

.services .icon {
    float: left;
}

.services .icon i {
    color: #428bca;
    font-size: 30px;
    line-height: 1;
    padding-top: 20px;
}

.services .icon i .fa{
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    font-family: remixicon !important;
}
/* [class^="fa-"], [class*=" fa-"] {
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    font-family: remixicon !important;
} */
.services .title {
    margin-left: 60px;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
    font-family: Raleway, sans-serif;
    line-height: 1.2;
}

.services .title a {
    color: rgb(52, 58, 64);
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

.services .description {
    margin-left: 60px;
    line-height: 24px;
    font-size: 16px;
}

p {
    margin-top: 0px;
    margin-bottom: 1rem;
}

.services .icon-box {
    margin-bottom: 60px;
}